@import '../../styles/variables'

#fest-footer 
    height : 320px 
    width : 100%
    background-color: var(--v-primary700)
    text-align: center
    color: var(--v-primary50)
    padding: 0px
    
.row
   margin: 0px
   text-align: center

#fest-card
    height : 272px 
    width: 840px
    margin-top: $layout-48
    margin-left : calc((100vw - 840px) /2)
    background-color: var(--v-primary700)
    text-align: center
    color: var(--v-primary50)
.fest-coltitles
    font-size: map-get($fonts-paragraphSbold, 'size')
    line-height:  map-get($fonts-paragraphSbold, 'line-height')
    font-weight:  map-get($fonts-paragraphSbold, 'weight')
    text-align: left
    margin-right : $layout-80
    padding: 0px
    width: 150px
    margin-bottom: $layout-48
.fest-coltitles .row
    font-size: map-get($fonts-footer, 'size')
    line-height:  map-get($fonts-footer, 'line-height')
    font-weight:  map-get($fonts-footer, 'weight')
    text-align: left
    width: 150px
    margin-top : $layout-16
    margin-bottom: $layout-16
    height: 16px
#fest-lastcol
    margin : 0px  
    width: 150px
#divider 
    border-color : var(--v-primary300) 
    width: 1144px
    margin-left: -152px
    max-width: 1144px
 
    