@import '../../styles/variables'

.fest-store-card.v-card 
    height: 320px
    width: 280px
    padding: 0px
    filter: brightness(60%)

.fest-store-card.v-card:hover
    filter: brightness(90%)

.fest-store-card.v-card:hover .v-card__title
    font-weight: bold
    // $fonts-titlebold 


.fest-store-card.v-card .v-card__title
    //font: $fonts-title
    position: absolute
    margin: $layout-16
    bottom: $layout-16
    font-size: 40px 
    line-height: 46px 
    width: 248px 
    height: 58px 
    text-align: center
    display: block 
    color: #FFF
