.v-card
    height: 320px
    width: 280px
    padding: 0px
    filter: brightness(60%)

.v-card:hover
    filter: brightness(90%)

.v-card:hover .v-card__title
    position: absolute
    margin: 16px
    bottom: 16px
    font-size: 40px !important
    font-weight: bold !important
    line-height: 46px !important
    width: 248px !important
    height: 58px !important
    text-align: center
    display: block !important
    color: #FFF

.v-card__title
    position: absolute
    margin: 16px
    bottom: 16px
    font-size: 40px !important
    line-height: 46px !important
    width: 248px !important
    height: 58px !important
    text-align: center
    display: block !important
    color: #FFF

.container
    margin: 0px !important
    pading: 0px !important
    width: 280px !important
    height: 320px !important
    padding: 0px !important
